<% @page_feature = "Non-Search" %>
<%= form_for(story) do |f| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="text" class="form-control" placeholder="Slug"
    <%= f.text_field :slug, autofocus: true %></input>
  <br>
  <input type="text" class="form-control" placeholder="Description"
    <%= f.text_field :description %></input>
  <br>
  <input type="text" class="form-control" placeholder="Reporter"
    <%= f.text_field :reporter %></input>
  <br>
  <div class="field">
      <%= f.label :deadline %>
      <%= f.select(:deadline, options_for_select(deadline, "AM")) %>
  </div>
  <br>
  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Add this Story", class: "btn btn-info" %>
  </div>
<% end %>
