<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-12">
<span class="pull-left">
<%= Time.now.strftime("%B %-d, %Y %H:%M") %> <%= Time.zone %>
</span>
<span class="pull-right">
<a href="archive/list" class="archive" data-toggle="tooltip" data-placement="top" title="List View"><i class="fa fa-list" aria-hidden="true"></i></a> | 
<a href="/" class="archive"><i class="fa fa-filter" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Segmented View"></i></a>
</span>
</div><!-- col -->
</div><!-- row -->
<h1>Today's AM Deadline</h1>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Slug</th>
      <th>Description</th>
      <th>Reporter</th>
      <th>Deadline</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @stories.each do |story| %>
    <% if (story.date == Date.today) && (story.deadline == 'AM') %>
      <tr>
        <td><strong><%= link_to story.slug, story %></strong></td>
        <td><%= truncate(story.description, length: 100) %></td>
        <td><strong><%= story.reporter %></strong></td>
        <td><%= story.deadline %></td>
        <td><%= story.date %></td>
        <td><%= link_to '', edit_story_path(story), class: "fa fa-pencil-square-o fa-lg" %> | 
        <%= link_to '', story, class: "fa fa-trash fa-lg", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
<br>
<h1>Today's PM Deadline</h1>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Slug</th>
      <th>Description</th>
      <th>Reporter</th>
      <th>Deadline</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @stories.each do |story| %>
    <% if (story.date == Date.today) && (story.deadline == 'PM') %>
      <tr>
        <td><strong><%= link_to story.slug, story %></strong></td>
        <td><%= truncate(story.description, length: 100) %></td>
        <td><strong><%= story.reporter %></strong></td>
        <td><%= story.deadline %></td>
        <td><%= story.date %></td>
        <td><%= link_to '', edit_story_path(story), class: "fa fa-pencil-square-o fa-lg" %> | 
        <%= link_to '', story, class: "fa fa-trash fa-lg", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
<br>
<h1>Today's Midnight Deadline</h1>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Slug</th>
      <th>Description</th>
      <th>Reporter</th>
      <th>Deadline</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @stories.each do |story| %>
    <% if (story.date == Date.today) && (story.deadline == 'Midnight') %>
      <tr>
        <td><strong><%= link_to story.slug, story %></strong></td>
        <td><%= truncate(story.description, length: 100) %></td>
        <td><strong><%= story.reporter %></strong></td>
        <td><%= story.deadline %></td>
        <td><%= story.date %></td>
        <td><%= link_to '', edit_story_path(story), class: "fa fa-pencil-square-o fa-lg" %> | 
        <%= link_to '', story, class: "fa fa-trash fa-lg", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
<br>

<!-- tooltip -->
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>