<nav class="navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Story Release Planner  <i class="fa fa-globe fa-lg" aria-hidden="true"></i> <i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i> <i class="fa fa-video-camera fa-lg" aria-hidden="true"></i></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? && @page_feature != "Non-Search" %>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <%= search_form_for @q, url: stories_path, html: { method: :post } do |f| %>
         <span><input type="text" class="form-control" placeholder="Search" <%= f.search_field :slug_or_reporter_cont %>
          </span>
        <button type="submit" class="btn btn-danger">Submit</button>
        </div>
        <% end %>
      </form>
      <% end %>
      <ul class="nav navbar-nav pull-right">
        <li><a href="/stories/new" class="stories"><i class="fa fa-file-text-o fa-lg"></i> New Story</a></li>
        <li><a href="/"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> Today</a></li>
        <li><a href="/archive/future" class="archive"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> Upcoming</a></li>
        <li><a href="/archive/index" class="archive"><i class="fa fa-archive fa-lg" aria-hidden="true"></i> Archive</a></li>
          <li class="divider"></li>

              <% if user_signed_in? %>

                <li class='dropdown'>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
                  aria-expanded="false">Users <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "  #{current_user.email}", edit_user_registration_path, class: "fa fa-user fa-lg" %></li>
                    <li><a href="/editors/index"><i class="fa fa-users fa-lg" aria-hidden="true"></i> Users</a></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
                </li>

              <% else %>
                <li>
                <%= link_to "Sign Up", new_user_registration_path %>
                </li>
                <li class="divider"></li>
                <li>
                <%= link_to 'Login', new_user_session_path %>
              <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>