<!DOCTYPE html>
<html>
  <head>
    <title>Story Dayplan</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="Application to identify stories that are being worked on and when their deadline">
    <meta name="author" content="Jim Tunnessen">
    <meta name="keywords" content="stories, news, articles, television, radio scripts, planned live streaming events">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/929870e632.js"></script>
  </head>
    <%= render "layouts/navbar" %>
  <body>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
